extends include/layout

block content
    // The styling below is just to make the grid easier to understand for now
    style(type="text/css").
        #debug {
          border: 1px solid black
        }

    .row
        .col-md-6#debug
            p World map goes here
        .col-md-6#debug
            include include/registerNewUser
    .row
        .col-md-12#debug
            p Recently added items
