extends include/layout

block content
    .row
        .col-md-6
            include include/map
        .col-md-6
            include include/registerNewUser
    .row
        .col-md-12
            include include/recent-items
