extends include/layout

block content
    .row
        .col-md-12
            h2= "Welcome " + username
    .row
        if postcodeUpdate
            .col-md-6
                include include/update-postcode
            .col-md-6
                include include/my-active-items
        else

            .col-md-12
                include include/my-active-items
    .row
        .col-md-12
            a(href="/logout") Logout
