extends include/layout

block content
    // The styling below is just to make the grid easier to understand for now
    style(type="text/css").
        .col-md-4 {
            border: 1px solid black
        }
        .col-md-8 {
            border: 1px solid black
        }
        .col-md-12 {
            border: 1px solid black
        }

    .row
        h1 Page for displaying search results
    .row
        .col-md-12
            p Map goes here
    .row
        .col-md-4
            p Refine search goes here
        .col-md-8
            p Search listings goes here
