extends include/layout

block content
    // The styling below is just to make the grid easier to understand for now
    style(type="text/css").
        .col-md-4 {
            border: 1px solid black
        }
        .col-md-8 {
            border: 1px solid black
        }
        .col-md-12 {
            border: 1px solid black
        }

    .row
        h1 Search results
    .row
        include include/map
    .row
        .col-md-4
            h2 Refine search
            label Sort by
            select#sort(onchange='refineSearch(this.value)')
                option(value="dateDSC") Date added (newest - oldest)
                option(value="dateASC") Date added (oldest - newest)
                option Distance (closest - furthest)
                option Expiry date (furthest - closest)
                option Expiry date (closest - furthest)
            .control-group
                label(for="postcode") Postcode:
                if user
                    input#postcode.form-control(name="postcode", type='text', value=user.postcode)
                else

                    input#postcode.form-control(name="postcode", type='text', placeholder="postcode")
            .control-group
                label(for="radius") Radius km:
                input#searchRadius.form-control(name="radius", type='number', value=5)
        .col-md-8
            .item-list
                ul.list-inline#results

    script(src="../js/getSearchResults.js")
