script(src="/js/validateNewItem.js")
.row
    .col-md-6
        form(method='POST' action='/add-item')#add-item-form
            .control-group
                label(for='itemName') Item name:
                input#itemName.form-control(type='text', placeholder='Item Name' name='itemName')
            .control-group
                label(for='location') Location:
                input#location.form-control(type='text', value=postcode name='location')
            .control-group
                label(for='expiry') Expiry date:
                input#expiry.form-control(type='date' name='expiry')
            .control-group
                label(for='prefTimes') Preferred pick-up time:
                select#prefTimes.form-control(name='prefTimes')
                    option(value='morning') Morning
                    option(value='afternoon') Afternoon
                    option(value='Evening') Evening
            .control-group
                label(for='description') Description:
                input#description.form-control(type='text', placeholder='Description' name='description')
            button.btn.btn-primary(type='submit') List item
    .col-md-6
        p Picture upload here?
