script(src="/js/validateNewItem.js")
.row
    .col-md-12
        form(method='GET' action='/search-barcode')#search-barcode-form
          .control-group
              label(for='barcode') Barcode:
              .row
                  .col-md-2
                      input#barcode.form-control(type='text' placeholder='Manual input' name='barcode' value=bc)
                  .col-md-2
                      button.btn.btn-primary(type='submit') Search Barcode
        form(method='POST' action='/add-item')#add-item-form
            .control-group
                label(for='itemName') Item name:
                input#itemName.form-control(type='text', placeholder='Item Name' name='itemName' value=itemname)
            .control-group
                label(for='location') Location:
                input#location.form-control(type='text', value=postcode name='location')
            .control-group
                label(for='expiry') Expiry date:
                input#expiry.form-control(type='date' name='expiry')
            .control-group
                label(for='prefTimes') Preferred pick-up time:
                select#prefTimes.form-control(name='prefTimes')
                    option(value='morning') Morning
                    option(value='afternoon') Afternoon
                    option(value='Evening') Evening
            .control-group
                label(for='description') Description:
                input#description.form-control(type='text', placeholder='Description' name='description')
            .control-group
                label(for='tags') Tags:
                .selectedTags
                input#selectedTagsSubmit(name="SelectedTags" type="text" hidden)
                br
                input.form-control#tagInput(type="text", name="Tags", autocomplete="on", placeholder="Search tags")
                .dropdown
                    select#tagsList(name="list")
                script(src="/js/tagAutocomplete.js")
            .control-group
                label(for='img') Image:
                input#pictureUpload.form-control(type='file' name="img")
            button.btn.btn-primary(type='submit') List item

script(src="/js/imageUpload.js")
