.navbar.navbar-static-top
    .navbar-inner
        .nav
            .col-sm-2
                if authenticated
                    a(href="/auth/home")
                        h1 Give&Go
                else

                    a(href="/index")
                        h1 Give&Go
            .col-sm-8
                form(method="GET" action="/search-results")#custom-search-input
                    .input-group
                        input#searchtext(type="text" class="form-control input-lg" placeholder="Search" name="searchtext")
                        span(class="input-group-btn")
                            button(class="btn btn-info btn-lg" type="submit")
                                i(class="glyphicon glyphicon-search")
            if authenticated
                .col-sm-1
                    a(class="btn btn-primary" role="button" href="/auth/add-item") Add item
                .col-sm-1
                    a(class="btn btn-primary" role="button" href="/auth/profile") Profile
            else

                .col-sm-1
                    a(class="btn btn-primary" role="button" href="/registration") Register
                .col-sm-1
                    a(class="btn btn-primary" role="button" href="/login") Login
