nav.navbar.navbar-inverse
    .container-fluid
        .row
            .navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href= authenticated ? "/auth/home" : "/index")
                    img.logo(src="/styles/assets/Logo35.png")
                |Give & Go
            .collapse.navbar-collapse#myNavbar
                //-
                //-ul.nav.navbar-nav
                    //-li.active
                        //-a(href="#") Home
                    //-li.dropdown
                        //-a.dropdown-toggle(data-toggle="dropdown" href="#") Page 1
                            //-span.caret
                        //-ul.dropdown-menu
                            //-li
                                //-a(href="#") Page 1-1
                            //-li
                                //-a(href="#") Page 1-2
                            //-li
                                //-a(href="#") Page 1-3
                    li
                        a(href="#") Page 2
                    li
                        a(href="#") Page 3
                ul.nav.navbar-nav.navbar-right
                    if authenticated
                        li
                            a(href="/auth/add-item")
                                span.glyphicon.glyphicon-plus.header
                                |  Add item
                        li
                            a(href="/auth/profile")
                                span.glyphicon.glyphicon-user.header
                                |  Profile
                    else
                        li
                            a(href="/registration")
                                span.glyphicon.glyphicon-user
                                |  Register
                        li
                            a(href="/login")
                                span.glyphicon.glyphicon-log-in
                                |  Login
        .row
            #headerSearch
                form(method="GET" action="/search-results")#custom-search-input
                    .input-group
                        input#searchtext(type="text" class="form-control input-lg" placeholder="Search" name="searchtext")
                        if authenticated && user.postcode != ""
                            input#postcode(type="text" class="form-control input-lg" placeholder="Postcode" name="postcode", value=user.postcode)
                        else

                            input#postcode(type="text" class="form-control input-lg" placeholder="Postcode" name="postcode")
                        input#sortBy(type="hidden" class="form-control" name="sortBy" value="dateDSC")
                        span(class="input-group-btn")
                            button(class="btn btn-info btn-lg" type="submit")
                                i(class="glyphicon glyphicon-search")
