head
    title Give&Go
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js")
    h1 Give&Go header!
