#map(style="height: 50%")
    p An error has occured with the map
//script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
script(src="../js/markerclusterer.js")
script(src="../js/mapControl.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0TkjZJntJOOmUaFhzy0Hr7JN_bPLgKeM&callback=initMap" async defer)
