.item-list {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 200px;
    width: 100%;
    padding: 0 15px;
}

.item-list {
    border: 1px solid black;
    padding: 0;
    height: 200px;
}

.list-inline {
    white-space: nowrap;
}

.list-inline li {
    width: 20%;
    height: 85%;
    border: 1px solid black;
    margin: 1%;
}
