#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.navbar {
    background-color: #2A70D7;
}

.navbar h1 {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 0px;
}

.nav>li>a:hover, .nav>li>a:focus{
    background-color: #2A70D7;
    color: #F78A00;
}

.navbar a{
    color: #ffffff;
}

.navbar a:hover{
    text-decoration: none;
    color: #ffffff;
}
#myNavBar {
    min-height: 1px;
    display: block;
}

img.logo{
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}
form#custom-search-input{
    margin-bottom: 0px;
}
#headerSearch{
    padding: 7 5 5 5;
}