#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.navbar-brand{
    padding: 5px 5px;
}

.logo{
    padding: 5px 5px 5px 5px;
    float: left;
}
.navbar-inverse {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #2A70D7;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
    border: none;
    background-color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover > .icon-bar,
.navbar-inverse .navbar-toggle:focus > .icon-bar{
    border: none;
    background-color: #2A70D7;
}

.navbar .navbar-nav>li>a{
    color: #ffffff;
}

.navbar-inverse .navbar-collapse {
    border: none;
}

.brand{
    line-height: 30px;
    font-size: 30px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.navbar-header {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

form#custom-search-input{
    margin-bottom: 0px;
}

#headerSearch{
    padding: 0 5 7 5;
}

#custom-search-input{
    padding: 0;
}

#custom-search-input input[name="searchtext"]{
    height: 35px;
    max-width: 65%;
    display: inline-block;
    padding: 0 16 0 16;
}

#custom-search-input input[name="postcode"]{
    height: 35px;
    max-width: 35%;
    display: inline-block;
    padding: 0 16 0 16;
    border-left: 1px solid lightgray;
}

#custom-search-input button{
    border-left: 0 none;
}

#custom-search-input button:hover{
    border-left: 0 none;
}

.input-group-btn{
    border-left: solid 1px lightgray;
}

.navbar .navbar-nav>li>a:hover{
    color: #F78A00;
}

.navbar nav{
    margin-bottom: none !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    background-image: none;
    color: #F78A00;
    background-color: #2A70D7;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu>li>a {
    color: #ffffff;
}

.navbar-nav>li>.dropdown-menu {
    border: none;
    background-color: #2A70D7;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-image: none;
    background-color: #ffffff;
    color: #2A70D7;
}

.navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #2A70D7;
    background-color: #ffffff;
}